[Unit]
Description=Seamless QEMU RAM-Boot & VFIO Passthrough Manager
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=tty
ExecStart=/usr/bin/qemu-booter
Restart=no

[Install]
WantedBy=multi-user.target
